# Introduction to Machine Learning - Exercise 10
Goal of the excercise is to learn how to save trained models and use selected advanced libraries like Plotly or Optuna.


![meme01](https://github.com/lubsar/EFREI-Introduction-to-Machine-Learning/blob/main/images/fml_12_meme_01.png?raw=true)

In [1]:
# For Google Colab
!pip install optuna

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import optuna
import joblib

import sklearn.datasets as skd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, accuracy_score

# ðŸ“Š Plotly
https://plotly.com/python/getting-started/

* The plotly Python library is an interactive, open-source plotting library that supports over chart types covering a wide range of statistical, financial, geographic or scientific use-cases
* Built on top of the Plotly JavaScript library (plotly.js)
* Plotly enables Python users to create **interactive web-based visualizations** that can be displayed in Jupyter notebooks

## ðŸ“’ Here we have some examples of commonly used plots
* ðŸ’¡ Express API is easy to grasp and it is very similar to Seaborn

## Scatter plot

In [3]:
df = px.data.iris()
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

## Line plot

## Bar plot

## Box plot

## Heatmap

## ðŸ“Œ Parallel categories diagram
* How to read it?

In [4]:
df = pd.read_csv('https://github.com/lubsar/EFREI-Introduction-to-Machine-Learning/raw/refs/heads/main/datasets/titanic.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

![meme02](https://github.com/lubsar/EFREI-Introduction-to-Machine-Learning/blob/main/images/fml_12_meme_02.jpg?raw=true)m

# ðŸš€ Optuna
https://optuna.org/

* An open source hyperparameter optimization framework to automate hyperparameter search
* You can use it with any machine learning or deep learning framework
    * Scikit-learn, TF2, PyTorch, Keras, ...

## âš¡ Using Optuna is very simple
* You just need to define the `objective` which will be used for each trial
* Then you define the parameter ranges through `suggest_XYZ` function and use is as a regular parameter
* After that you can start tuning the parameters

In [5]:
X, y = skd.load_iris(return_X_y=True, as_frame=True)

In [6]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

## ðŸ’¡ Dashboard
* Logs are hard to read - it is usually better to vizualize the tuning process
* You have two options with `Optuna`
    * You can use the basic online tool https://optuna.github.io/optuna-dashboard/
    * You can run local instance of https://github.com/optuna/optuna-dashboard for more advanced usage

![meme03](https://github.com/lubsar/EFREI-Introduction-to-Machine-Learning/blob/main/images/fml_12_meme_03.jpg?raw=true)

# âš¡ Model deploy
* How are ML/DL models used in production?
    * Do we train it every time from scratch?
* How would you deploy the model?

## Train the model on full data with the best parameter setup

# Save the model using `joblib`
* There are other alternatives
    * https://skops.readthedocs.io/en/stable/
    * https://onnx.ai/sklearn-onnx/

# ðŸ“ˆ Load the model from disk

## Check if everything works fine ðŸ™‚

![meme04](https://github.com/lubsar/EFREI-Introduction-to-Machine-Learning/blob/main/images/thats_all.jpg?raw=true)